@model IEnumerable<CarDataAccess.Booking>

@{
    ViewBag.Title = "ListBookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListBookings</title>
</head>
<body>
    <h2>This is the list of cars you have rented. Damn, you're spending too much!</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avaStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avaEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>

            </tr>
        }

    </table>
    <div>
        <a href="http://localhost:6664/Home/Listcars">Back to list of available cars</a>
    </div>
</body>
</html>
