@model IEnumerable<CarDataAccess.Car>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCars</title>
    <script src="~/Scripts/OnClick.js">

    </script>
</head>
<body>
    @*<p>
            @Html.ActionLink("Create New", "Post")
        </p>*@



    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>

            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avaStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avaEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>

                <td>

                <td>@Html.ActionLink("Rent", "Payment", new { id = item.Id, model = item.model, make = item.make, price = item.price, avastr= item.avaStart, avend=item.avaEnd, locst = item.location })</td>
                
                @*<div>
                        <a href="http://localhost:6664/Home/Payment">Pay</a>
                    </div>*@


                @*Html.ActionLink("Rent", "Delete", new { id = item.Id })*@

                </td>


                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>*@

            </tr>

        }

    </table>



    <div>
        <a href="http://localhost:6664/User/Login">Login</a>
    </div>

</body>
</html>
