@model CarDataAccess.Car

@{
    /**/

    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            border-spacing: 3px;
        }
    </style>


    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>

</head>
<body>
    <h2>This is the car you selected, click Pay to make the payment</h2>

    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Model
            </th>
            <th>
                Make
            </th>
            <th>
                Location
            </th>
            <th>
                Price
            </th>
            <th>
                Available from
            </th>
            <th>
                Avalable until
            </th>
        </tr>



        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.model)
            </td>
            <td>
                @Html.DisplayFor(model => model.make)
            </td>
            <td>
                @Html.DisplayFor(model => model.location)
            </td>
            <td>
                @Html.DisplayFor(model => model.price)
            </td>
            <td>
                @Html.DisplayFor(model => model.avaStart)
            </td>
            <td>
                @Html.DisplayFor(model => model.avaEnd)
            </td>
        </tr>
    </table>

    @Html.ActionLink("Pay", "Pay", new { id = Model.Id })
    <div>
        <a href="http://localhost:6664/Home/Listcars">Cancel</a>
    </div>
</body>
</html>