@model CarDataAccess.Car

@{
    /**/

    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>

</head>
<body>
    @* access model properties here *@
    <span>@Model.Id</span>
    <span>@Model.model</span>
    <span>@Model.make</span>
    <span>@Model.location</span>
    <span>@Model.price</span>
    <span>@Model.avaStart</span>
    <span>@Model.avaEnd</span>


    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</body>
</html>